utils/WSDL/CBSInterface_BC_Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:cbscommon="http://www.huawei.com/bme/cbsinterface/cbscommon" xmlns:bc="http://www.huawei.com/bme/cbsinterface/bcservices" targetNamespace="http://www.huawei.com/bme/cbsinterface/bcservices">
	<types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.huawei.com/bme/cbsinterface/bcservices">
			<import namespace="http://www.huawei.com/bme/cbsinterface/cbscommon" schemaLocation="CBSInterface_MessageHeader.xsd"/>
			<include schemaLocation="CBSInterface_BC_CreateSubscriber.xsd"/>
			<include schemaLocation="CBSInterface_BC_CreateCustomer.xsd"/>
			<include schemaLocation="CBSInterface_BC_CreateAccount.xsd"/>
			<include schemaLocation="CBSInterface_BC_SubActivation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeSubStatus.xsd"/>
			<include schemaLocation="CBSInterface_BC_SubDeactivation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeSubOffering.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeSubBasicInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangePayRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeSubPaymentMode.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeAcctCreditLimit.xsd"/>
			<include schemaLocation="CBSInterface_BC_Blacklist.xsd"/>
			<include schemaLocation="CBSInterface_BC_CreateGroup.xsd"/>
			<include schemaLocation="CBSInterface_BC_AddGroupMember.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeGroupBasicInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeGroupOffering.xsd"/>
			<include schemaLocation="CBSInterface_BC_GroupDeactivation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeGroupStatus.xsd"/>
			<include schemaLocation="CBSInterface_BC_DelGroupMember.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchAddGroupMember.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchDelGroupMember.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchCreateSubscriber.xsd"/>
			<include schemaLocation="CBSInterface_BC_QuerySubLifeCycle.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryCustomerInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryGroupListBySubscriber.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryGroupMemberList.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryPaymentRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeRscRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_QuerySubInfoExToCube.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryAccumulationUsage.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchChangePayRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryRscRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryGroupMemberBasicInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_FeeDeduction.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeFUPaymentLimitUsage.xsd"/>
			<include schemaLocation="CBSInterface_BC_ManageAccountNotificationLevel.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeAcctBasicInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchChangeRscRelation.xsd"/>
			<include schemaLocation="CBSInterface_BC_BatchSubDeactivation.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeCustBasicInfo.xsd"/>
			<include schemaLocation="CBSInterface_BC_ChangeOwnership.xsd"/>
			<include schemaLocation="CBSInterface_BC_FeeQuotation.xsd"/>
			<include schemaLocation="CBSInterface_BC_QueryInteractLog.xsd"/>
			<element name="CreateSubscriberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="CreateSubscriberRequest" type="bc:CreateSubscriberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateSubscriberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="CreateSubscriberResult" type="bc:CreateSubscriberResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateCustomerRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="CreateCustomerRequest" type="bc:CreateCustomerRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateCustomerResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="CreateCustomerResult" type="bc:CreateCustomerResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateAccountRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="CreateAccountRequest" type="bc:CreateAccountRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateAccountResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="CreateAccountResult" type="bc:CreateAccountResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchCreateSubscriberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchCreateSubscriberRequest" type="bc:BatchCreateSubscriberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchCreateSubscriberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeSubInfoRequest" type="bc:ChangeSubInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubPaymentModeRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeSubPaymentModeRequest" type="bc:ChangeSubPaymentModeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubPaymentModeResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeSubPaymentModeResult" type="bc:ChangeSubPaymentModeResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="SubActivationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="SubActivationRequest" type="bc:SubActivationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="SubActivationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="SubActivationResult" type="bc:SubActivationResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubStatusRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeSubStatusRequest" type="bc:ChangeSubStatusRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubStatusResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeSubStatusResult" type="bc:ChangeSubStatusResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeRechageBlacklistRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeRechageBlacklistRequest" type="bc:ChangeRechageBlacklistRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeRechageBlacklistResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeAcctCreditLimitRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeAcctCreditLimitRequest" type="bc:ChangeAcctCreditLimitRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeAcctCreditLimitResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeAcctCreditLimitResult" type="bc:ChangeAcctCreditLimitResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubOfferingRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeSubOfferingRequest" type="bc:ChangeSubOfferingRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubOfferingResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeSubOfferingResult" type="bc:ChangeSubOfferingResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangePayRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangePayRelationRequest" type="bc:ChangePayRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangePayRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeRscRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeRscRelationRequest" type="bc:ChangeRscRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeRscRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchChangePayRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchChangePayRelationRequest" type="bc:BatchChangePayRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchChangePayRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="SubDeactivationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="SubDeactivationRequest" type="bc:SubDeactivationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="SubDeactivationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="SubDeactivationResult" type="bc:SubDeactivationResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QuerySubLifeCycleRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QuerySubLifeCycleRequest" type="bc:QuerySubLifeCycleRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QuerySubLifeCycleResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QuerySubLifeCycleResult" type="bc:QuerySubLifeCycleResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryCustomerInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryCustomerInfoRequest" type="bc:QueryCustomerInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryCustomerInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryCustomerInfoResult" type="bc:QueryCustomerInfoResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupListBySubscriberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryGroupListBySubscriberRequest" type="bc:QueryGroupListBySubscriberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupListBySubscriberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryGroupListBySubscriberResult" type="bc:QueryGroupListBySubscriberResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupMemberListRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryGroupMemberListRequest" type="bc:QueryGroupMemberListRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupMemberListResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryGroupMemberListResult" type="bc:QueryGroupMemberListResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupMemberBasicInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryGroupMemberBasicInfoRequest" type="bc:QueryGroupMemberBasicInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryGroupMemberBasicInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryGroupMemberBasicInfoResult" type="bc:QueryGroupMemberBasicInfoResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryAccumulationUsageRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryAccumulationUsageRequest" type="bc:QueryAccumulationUsageRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryAccumulationUsageResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryAccumulationUsageResult" type="bc:QueryAccumulationUsageResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QuerySubInfoExToCubeRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QuerySubInfoExToCubeRequest" type="bc:QuerySubInfoExToCubeRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QuerySubInfoExToCubeResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QuerySubInfoExToCubeResult" type="bc:QuerySubInfoExToCubeResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryRscRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryRscRelationRequest" type="bc:QueryRscRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryRscRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryRscRelationResult" type="bc:QueryRscRelationResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryPaymentRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="QueryPaymentRelationRequest" type="bc:QueryPaymentRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="QueryPaymentRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="QueryPaymentRelationResult" type="bc:QueryPaymentRelationResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateGroupRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="CreateGroupRequest" type="bc:CreateGroupRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="CreateGroupResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="CreateGroupResult" type="bc:CreateGroupResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="GroupDeactivationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="GroupDeactivationRequest" type="bc:GroupDeactivationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="GroupDeactivationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupBasicInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeGroupBasicInfoRequest" type="bc:ChangeGroupBasicInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupBasicInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupOfferingRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeGroupOfferingRequest" type="bc:ChangeGroupOfferingRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupOfferingResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeGroupOfferingResult" type="bc:ChangeGroupOfferingResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupStatusRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeGroupStatusRequest" type="bc:ChangeGroupStatusRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupStatusResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="AddGroupMemberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="AddGroupMemberRequest" type="bc:AddGroupMemberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="AddGroupMemberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="AddGroupMemberResult" type="bc:AddGroupMemberResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="DelGroupMemberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="DelGroupMemberRequest" type="bc:DelGroupMemberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="DelGroupMemberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchAddGroupMemberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchAddGroupMemberRequest" type="bc:BatchAddGroupMemberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchAddGroupMemberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchDelGroupMemberRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchDelGroupMemberRequest" type="bc:BatchDelGroupMemberRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchDelGroupMemberResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupMemberOfferingRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeGroupMemberOfferingRequest" type="bc:ChangeGroupMemberOfferingRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeGroupMemberOfferingResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeGroupMemberOfferingResult" type="bc:ChangeGroupMemberOfferingResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="FeeDeductionRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="FeeDeductionRequest" type="bc:FeeDeductionRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="FeeDeductionResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="FeeDeductionResult" type="bc:FeeDeductionResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="FeeDeductionRollBackRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="FeeDeductionRollBackRequest" type="bc:FeeDeductionRollBackRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="FeeDeductionRollBackResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="FeeDeductionRollBackResult" type="bc:FeeDeductionRollBackResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<xs:element name="ChangeFUPaymentLimitUsageRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeFUPaymentLimitUsageRequest" type="bc:ChangeFUPaymentLimitUsageRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<element name="ChangeFUPaymentLimitUsageResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeFUPaymentLimitUsageResult" type="bc:ChangeFUPaymentLimitUsageResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ManageAccountNotificationLevelRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ManageAccountNotificationLevelRequest" type="bc:ManageAccountNotificationLevelRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ManageAccountNotificationLevelResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeAcctInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeAcctInfoRequest" type="bc:ChangeAcctInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeAcctInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeAcctInfoResult" type="bc:ChangeAcctInfoResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchChangeRscRelationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchChangeRscRelationRequest" type="bc:BatchChangeRscRelationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchChangeRscRelationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchSubDeactivationRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="BatchSubDeactivationRequest" type="bc:BatchSubDeactivationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="BatchSubDeactivationResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeCustInfoRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeCustInfoRequest" type="bc:ChangeCustInfoRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeCustInfoResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubOwnershipRequestMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestHeader" type="cbscommon:RequestHeader"/>
						<xs:element name="ChangeSubOwnershipRequest" type="bc:ChangeSubOwnershipRequest"/>
					</xs:sequence>
				</xs:complexType>
			</element>
			<element name="ChangeSubOwnershipResultMsg">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultHeader" type="cbscommon:ResultHeader"/>
						<xs:element name="ChangeSubOwnershipResult" type="bc:ChangeSubOwnershipResult" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</element>
		</xs:schema>
	</types>
	<message name="CreateSubscriberRequestMessage">
		<part name="CreateSubscriberRequestMsg" element="bc:CreateSubscriberRequestMsg"/>
	</message>
	<message name="CreateSubscriberResultMessage">
		<part name="CreateSubscriberResultMsg" element="bc:CreateSubscriberResultMsg"/>
	</message>
	<message name="CreateCustomerRequestMessage">
		<part name="CreateCustomerRequestMsg" element="bc:CreateCustomerRequestMsg"/>
	</message>
	<message name="CreateCustomerResultMessage">
		<part name="CreateCustomerResultMsg" element="bc:CreateCustomerResultMsg"/>
	</message>
	<message name="CreateAccountRequestMessage">
		<part name="CreateAccountRequestMsg" element="bc:CreateAccountRequestMsg"/>
	</message>
	<message name="CreateAccountResultMessage">
		<part name="CreateAccountResultMsg" element="bc:CreateAccountResultMsg"/>
	</message>
	<message name="BatchCreateSubscriberRequestMessage">
		<part name="BatchCreateSubscriberRequestMsg" element="bc:BatchCreateSubscriberRequestMsg"/>
	</message>
	<message name="BatchCreateSubscriberResultMessage">
		<part name="BatchCreateSubscriberResultMsg" element="bc:BatchCreateSubscriberResultMsg"/>
	</message>
	<message name="ChangeSubInfoRequestMessage">
		<part name="ChangeSubInfoRequestMsg" element="bc:ChangeSubInfoRequestMsg"/>
	</message>
	<message name="ChangeSubInfoResultMessage">
		<part name="ChangeSubInfoResultMsg" element="bc:ChangeSubInfoResultMsg"/>
	</message>
	<message name="ChangeSubPaymentModeRequestMessage">
		<part name="ChangeSubPaymentModeRequestMsg" element="bc:ChangeSubPaymentModeRequestMsg"/>
	</message>
	<message name="ChangeSubPaymentModeResultMessage">
		<part name="ChangeSubPaymentModeResultMsg" element="bc:ChangeSubPaymentModeResultMsg"/>
	</message>
	<message name="SubActivationRequestMessage">
		<part name="SubActivationRequestMsg" element="bc:SubActivationRequestMsg"/>
	</message>
	<message name="SubActivationResultMessage">
		<part name="SubActivationResultMsg" element="bc:SubActivationResultMsg"/>
	</message>
	<message name="ChangeSubStatusRequestMessage">
		<part name="ChangeSubStatusRequestMsg" element="bc:ChangeSubStatusRequestMsg"/>
	</message>
	<message name="ChangeSubStatusResultMessage">
		<part name="ChangeSubStatusResultMsg" element="bc:ChangeSubStatusResultMsg"/>
	</message>
	<message name="ChangeRechageBlacklistRequestMessage">
		<part name="ChangeRechageBlacklistRequestMsg" element="bc:ChangeRechageBlacklistRequestMsg"/>
	</message>
	<message name="ChangeRechageBlacklistResultMessage">
		<part name="ChangeRechageBlacklistResultMsg" element="bc:ChangeRechageBlacklistResultMsg"/>
	</message>
	<message name="ChangeAcctCreditLimitRequestMessage">
		<part name="ChangeAcctCreditLimitRequestMsg" element="bc:ChangeAcctCreditLimitRequestMsg"/>
	</message>
	<message name="ChangeAcctCreditLimitResultMessage">
		<part name="ChangeAcctCreditLimitResultMsg" element="bc:ChangeAcctCreditLimitResultMsg"/>
	</message>
	<message name="ChangeSubOfferingRequestMessage">
		<part name="ChangeSubOfferingRequestMsg" element="bc:ChangeSubOfferingRequestMsg"/>
	</message>
	<message name="ChangeSubOfferingResultMessage">
		<part name="ChangeSubOfferingResultMsg" element="bc:ChangeSubOfferingResultMsg"/>
	</message>
	<message name="ChangePayRelationRequestMessage">
		<part name="ChangePayRelationRequestMsg" element="bc:ChangePayRelationRequestMsg"/>
	</message>
	<message name="ChangePayRelationResultMessage">
		<part name="ChangePayRelationResultMsg" element="bc:ChangePayRelationResultMsg"/>
	</message>
	<message name="ChangeRscRelationRequestMessage">
		<part name="ChangeRscRelationRequestMsg" element="bc:ChangeRscRelationRequestMsg"/>
	</message>
	<message name="ChangeRscRelationResultMessage">
		<part name="ChangeRscRelationResultMsg" element="bc:ChangeRscRelationResultMsg"/>
	</message>
	<message name="BatchChangePayRelationRequestMessage">
		<part name="BatchChangePayRelationRequestMsg" element="bc:BatchChangePayRelationRequestMsg"/>
	</message>
	<message name="BatchChangePayRelationResultMessage">
		<part name="BatchChangePayRelationResultMsg" element="bc:BatchChangePayRelationResultMsg"/>
	</message>
	<message name="SubDeactivationRequestMessage">
		<part name="SubDeactivationRequestMsg" element="bc:SubDeactivationRequestMsg"/>
	</message>
	<message name="SubDeactivationResultMessage">
		<part name="SubDeactivationResultMsg" element="bc:SubDeactivationResultMsg"/>
	</message>
	<message name="QuerySubLifeCycleRequestMessage">
		<part name="QuerySubLifeCycleRequestMsg" element="bc:QuerySubLifeCycleRequestMsg"/>
	</message>
	<message name="QuerySubLifeCycleResultMessage">
		<part name="QuerySubLifeCycleResultMsg" element="bc:QuerySubLifeCycleResultMsg"/>
	</message>
	<message name="QueryCustomerInfoRequestMessage">
		<part name="QueryCustomerInfoRequestMsg" element="bc:QueryCustomerInfoRequestMsg"/>
	</message>
	<message name="QueryCustomerInfoResultMessage">
		<part name="QueryCustomerInfoResultMsg" element="bc:QueryCustomerInfoResultMsg"/>
	</message>
	<message name="QueryGroupListBySubscriberRequestMessage">
		<part name="QueryGroupListBySubscriberRequestMsg" element="bc:QueryGroupListBySubscriberRequestMsg"/>
	</message>
	<message name="QueryGroupListBySubscriberResultMessage">
		<part name="QueryGroupListBySubscriberResultMsg" element="bc:QueryGroupListBySubscriberResultMsg"/>
	</message>
	<message name="QueryGroupMemberListRequestMessage">
		<part name="QueryGroupMemberListRequestMsg" element="bc:QueryGroupMemberListRequestMsg"/>
	</message>
	<message name="QueryGroupMemberListResultMessage">
		<part name="QueryGroupMemberListResultMsg" element="bc:QueryGroupMemberListResultMsg"/>
	</message>
	<message name="QueryGroupMemberBasicInfoRequestMessage">
		<part name="QueryGroupMemberBasicInfoRequestMsg" element="bc:QueryGroupMemberBasicInfoRequestMsg"/>
	</message>
	<message name="QueryGroupMemberBasicInfoResultMessage">
		<part name="QueryGroupMemberBasicInfoResultMsg" element="bc:QueryGroupMemberBasicInfoResultMsg"/>
	</message>
	<message name="QueryAccumulationUsageRequestMessage">
		<part name="QueryAccumulationUsageRequestMsg" element="bc:QueryAccumulationUsageRequestMsg"/>
	</message>
	<message name="QueryAccumulationUsageResultMessage">
		<part name="QueryAccumulationUsageResultMsg" element="bc:QueryAccumulationUsageResultMsg"/>
	</message>
	<message name="QuerySubInfoExToCubeRequestMessage">
		<part name="QuerySubInfoExToCubeRequestMsg" element="bc:QuerySubInfoExToCubeRequestMsg"/>
	</message>
	<message name="QuerySubInfoExToCubeResultMessage">
		<part name="QuerySubInfoExToCubeResultMsg" element="bc:QuerySubInfoExToCubeResultMsg"/>
	</message>
	<message name="QueryRscRelationRequestMessage">
		<part name="QueryRscRelationRequestMsg" element="bc:QueryRscRelationRequestMsg"/>
	</message>
	<message name="QueryRscRelationResultMessage">
		<part name="QueryRscRelationResultMsg" element="bc:QueryRscRelationResultMsg"/>
	</message>
	<message name="QueryPaymentRelationRequestMessage">
		<part name="QueryPaymentRelationRequestMsg" element="bc:QueryPaymentRelationRequestMsg"/>
	</message>
	<message name="QueryPaymentRelationResultMessage">
		<part name="QueryPaymentRelationResultMsg" element="bc:QueryPaymentRelationResultMsg"/>
	</message>
	<message name="CreateGroupRequestMessage">
		<part name="CreateGroupRequestMsg" element="bc:CreateGroupRequestMsg"/>
	</message>
	<message name="CreateGroupResultMessage">
		<part name="CreateGroupResultMsg" element="bc:CreateGroupResultMsg"/>
	</message>
	<message name="GroupDeactivationRequestMessage">
		<part name="GroupDeactivationRequestMsg" element="bc:GroupDeactivationRequestMsg"/>
	</message>
	<message name="GroupDeactivationResultMessage">
		<part name="GroupDeactivationResultMsg" element="bc:GroupDeactivationResultMsg"/>
	</message>
	<message name="ChangeGroupBasicInfoRequestMessage">
		<part name="ChangeGroupBasicInfoRequestMsg" element="bc:ChangeGroupBasicInfoRequestMsg"/>
	</message>
	<message name="ChangeGroupBasicInfoResultMessage">
		<part name="ChangeGroupBasicInfoResultMsg" element="bc:ChangeGroupBasicInfoResultMsg"/>
	</message>
	<message name="ChangeGroupOfferingRequestMessage">
		<part name="ChangeGroupOfferingRequestMsg" element="bc:ChangeGroupOfferingRequestMsg"/>
	</message>
	<message name="ChangeGroupOfferingResultMessage">
		<part name="ChangeGroupOfferingResultMsg" element="bc:ChangeGroupOfferingResultMsg"/>
	</message>
	<message name="ChangeGroupStatusRequestMessage">
		<part name="ChangeGroupStatusRequestMsg" element="bc:ChangeGroupStatusRequestMsg"/>
	</message>
	<message name="ChangeGroupStatusResultMessage">
		<part name="ChangeGroupStatusResultMsg" element="bc:ChangeGroupStatusResultMsg"/>
	</message>
	<message name="AddGroupMemberRequestMessage">
		<part name="AddGroupMemberRequestMsg" element="bc:AddGroupMemberRequestMsg"/>
	</message>
	<message name="AddGroupMemberResultMessage">
		<part name="AddGroupMemberResultMsg" element="bc:AddGroupMemberResultMsg"/>
	</message>
	<message name="DelGroupMemberRequestMessage">
		<part name="DelGroupMemberRequestMsg" element="bc:DelGroupMemberRequestMsg"/>
	</message>
	<message name="DelGroupMemberResultMessage">
		<part name="DelGroupMemberResultMsg" element="bc:DelGroupMemberResultMsg"/>
	</message>
	<message name="BatchAddGroupMemberRequestMessage">
		<part name="BatchAddGroupMemberRequestMsg" element="bc:BatchAddGroupMemberRequestMsg"/>
	</message>
	<message name="BatchAddGroupMemberResultMessage">
		<part name="BatchAddGroupMemberResultMsg" element="bc:BatchAddGroupMemberResultMsg"/>
	</message>
	<message name="BatchDelGroupMemberRequestMessage">
		<part name="BatchDelGroupMemberRequestMsg" element="bc:BatchDelGroupMemberRequestMsg"/>
	</message>
	<message name="BatchDelGroupMemberResultMessage">
		<part name="BatchDelGroupMemberResultMsg" element="bc:BatchDelGroupMemberResultMsg"/>
	</message>
	<message name="ChangeGroupMemberOfferingRequestMessage">
		<part name="ChangeGroupMemberOfferingRequestMsg" element="bc:ChangeGroupMemberOfferingRequestMsg"/>
	</message>
	<message name="ChangeGroupMemberOfferingResultMessage">
		<part name="ChangeGroupMemberOfferingResultMsg" element="bc:ChangeGroupMemberOfferingResultMsg"/>
	</message>
	<message name="FeeDeductionRequestMessage">
		<part name="FeeDeductionRequestMsg" element="bc:FeeDeductionRequestMsg"/>
	</message>
	<message name="FeeDeductionResultMessage">
		<part name="FeeDeductionResultMsg" element="bc:FeeDeductionResultMsg"/>
	</message>
	<message name="FeeDeductionRollBackRequestMessage">
		<part name="FeeDeductionRollBackRequestMsg" element="bc:FeeDeductionRollBackRequestMsg"/>
	</message>
	<message name="FeeDeductionRollBackResultMessage">
		<part name="FeeDeductionRollBackResultMsg" element="bc:FeeDeductionRollBackResultMsg"/>
	</message>
	<message name="ChangeFUPaymentLimitUsageRequestMessage">
		<part name="ChangeFUPaymentLimitUsageRequestMsg" element="bc:ChangeFUPaymentLimitUsageRequestMsg"/>
	</message>
	<message name="ChangeFUPaymentLimitUsageResultMessage">
		<part name="ChangeFUPaymentLimitUsageResultMsg" element="bc:ChangeFUPaymentLimitUsageResultMsg"/>
	</message>
	<message name="ManageAccountNotificationLevelRequestMessage">
		<part name="ManageAccountNotificationLevelRequestMsg" element="bc:ManageAccountNotificationLevelRequestMsg"/>
	</message>
	<message name="ManageAccountNotificationLevelResultMessage">
		<part name="ManageAccountNotificationLevelResultMsg" element="bc:ManageAccountNotificationLevelResultMsg"/>
	</message>
	<message name="ChangeAcctInfoRequestMessage">
		<part name="ChangeAcctInfoRequestMsg" element="bc:ChangeAcctInfoRequestMsg"/>
	</message>
	<message name="ChangeAcctInfoResultMessage">
		<part name="ChangeAcctInfoResultMsg" element="bc:ChangeAcctInfoResultMsg"/>
	</message>
	<message name="BatchChangeRscRelationRequestMessage">
		<part name="BatchChangeRscRelationRequestMsg" element="bc:BatchChangeRscRelationRequestMsg"/>
	</message>
	<message name="BatchChangeRscRelationResultMessage">
		<part name="BatchChangeRscRelationResultMsg" element="bc:BatchChangeRscRelationResultMsg"/>
	</message>
	<message name="BatchSubDeactivationRequestMessage">
		<part name="BatchSubDeactivationRequestMsg" element="bc:BatchSubDeactivationRequestMsg"/>
	</message>
	<message name="BatchSubDeactivationResultMessage">
		<part name="BatchSubDeactivationResultMsg" element="bc:BatchSubDeactivationResultMsg"/>
	</message>
	<message name="ChangeCustInfoRequestMessage">
		<part name="ChangeCustInfoRequestMsg" element="bc:ChangeCustInfoRequestMsg"/>
	</message>
	<message name="ChangeCustInfoResultMessage">
		<part name="ChangeCustInfoResultMsg" element="bc:ChangeCustInfoResultMsg"/>
	</message>
	<message name="ChangeSubOwnershipRequestMessage">
		<part name="ChangeSubOwnershipRequestMsg" element="bc:ChangeSubOwnershipRequestMsg"/>
	</message>
	<message name="ChangeSubOwnershipResultMessage">
		<part name="ChangeSubOwnershipResultMsg" element="bc:ChangeSubOwnershipResultMsg"/>
	</message>
	<portType name="BcServices">
		<operation name="CreateSubscriber">
			<input message="bc:CreateSubscriberRequestMessage"/>
			<output message="bc:CreateSubscriberResultMessage"/>
		</operation>
		<operation name="CreateCustomer">
			<input message="bc:CreateCustomerRequestMessage"/>
			<output message="bc:CreateCustomerResultMessage"/>
		</operation>
		<operation name="CreateAccount">
			<input message="bc:CreateAccountRequestMessage"/>
			<output message="bc:CreateAccountResultMessage"/>
		</operation>
		<operation name="BatchCreateSubscriber">
			<input message="bc:BatchCreateSubscriberRequestMessage"/>
			<output message="bc:BatchCreateSubscriberResultMessage"/>
		</operation>
		<operation name="ChangeSubInfo">
			<input message="bc:ChangeSubInfoRequestMessage"/>
			<output message="bc:ChangeSubInfoResultMessage"/>
		</operation>
		<operation name="ChangeSubPaymentMode">
			<input message="bc:ChangeSubPaymentModeRequestMessage"/>
			<output message="bc:ChangeSubPaymentModeResultMessage"/>
		</operation>
		<operation name="SubActivation">
			<input message="bc:SubActivationRequestMessage"/>
			<output message="bc:SubActivationResultMessage"/>
		</operation>
		<operation name="ChangeSubStatus">
			<input message="bc:ChangeSubStatusRequestMessage"/>
			<output message="bc:ChangeSubStatusResultMessage"/>
		</operation>
		<operation name="ChangeRechageBlacklist">
			<input message="bc:ChangeRechageBlacklistRequestMessage"/>
			<output message="bc:ChangeRechageBlacklistResultMessage"/>
		</operation>
		<operation name="ChangeAcctCreditLimit">
			<input message="bc:ChangeAcctCreditLimitRequestMessage"/>
			<output message="bc:ChangeAcctCreditLimitResultMessage"/>
		</operation>
		<operation name="ChangeSubOffering">
			<input message="bc:ChangeSubOfferingRequestMessage"/>
			<output message="bc:ChangeSubOfferingResultMessage"/>
		</operation>
		<operation name="ChangePayRelation">
			<input message="bc:ChangePayRelationRequestMessage"/>
			<output message="bc:ChangePayRelationResultMessage"/>
		</operation>
		<operation name="ChangeRscRelation">
			<input message="bc:ChangeRscRelationRequestMessage"/>
			<output message="bc:ChangeRscRelationResultMessage"/>
		</operation>
		<operation name="BatchChangePayRelation">
			<input message="bc:BatchChangePayRelationRequestMessage"/>
			<output message="bc:BatchChangePayRelationResultMessage"/>
		</operation>
		<operation name="SubDeactivation">
			<input message="bc:SubDeactivationRequestMessage"/>
			<output message="bc:SubDeactivationResultMessage"/>
		</operation>
		<operation name="QuerySubLifeCycle">
			<input message="bc:QuerySubLifeCycleRequestMessage"/>
			<output message="bc:QuerySubLifeCycleResultMessage"/>
		</operation>
		<operation name="QueryCustomerInfo">
			<input message="bc:QueryCustomerInfoRequestMessage"/>
			<output message="bc:QueryCustomerInfoResultMessage"/>
		</operation>
		<operation name="QueryGroupListBySubscriber">
			<input message="bc:QueryGroupListBySubscriberRequestMessage"/>
			<output message="bc:QueryGroupListBySubscriberResultMessage"/>
		</operation>
		<operation name="QueryGroupMemberList">
			<input message="bc:QueryGroupMemberListRequestMessage"/>
			<output message="bc:QueryGroupMemberListResultMessage"/>
		</operation>
		<operation name="QueryGroupMemberBasicInfo">
			<input message="bc:QueryGroupMemberBasicInfoRequestMessage"/>
			<output message="bc:QueryGroupMemberBasicInfoResultMessage"/>
		</operation>
		<operation name="QueryAccumulationUsage">
			<input message="bc:QueryAccumulationUsageRequestMessage"/>
			<output message="bc:QueryAccumulationUsageResultMessage"/>
		</operation>
		<operation name="QuerySubInfoExToCube">
			<input message="bc:QuerySubInfoExToCubeRequestMessage"/>
			<output message="bc:QuerySubInfoExToCubeResultMessage"/>
		</operation>
		<operation name="QueryRscRelation">
			<input message="bc:QueryRscRelationRequestMessage"/>
			<output message="bc:QueryRscRelationResultMessage"/>
		</operation>
		<operation name="QueryPaymentRelation">
			<input message="bc:QueryPaymentRelationRequestMessage"/>
			<output message="bc:QueryPaymentRelationResultMessage"/>
		</operation>
		<operation name="CreateGroup">
			<input message="bc:CreateGroupRequestMessage"/>
			<output message="bc:CreateGroupResultMessage"/>
		</operation>
		<operation name="GroupDeactivation">
			<input message="bc:GroupDeactivationRequestMessage"/>
			<output message="bc:GroupDeactivationResultMessage"/>
		</operation>
		<operation name="ChangeGroupBasicInfo">
			<input message="bc:ChangeGroupBasicInfoRequestMessage"/>
			<output message="bc:ChangeGroupBasicInfoResultMessage"/>
		</operation>
		<operation name="ChangeGroupOffering">
			<input message="bc:ChangeGroupOfferingRequestMessage"/>
			<output message="bc:ChangeGroupOfferingResultMessage"/>
		</operation>
		<operation name="ChangeGroupStatus">
			<input message="bc:ChangeGroupStatusRequestMessage"/>
			<output message="bc:ChangeGroupStatusResultMessage"/>
		</operation>
		<operation name="AddGroupMember">
			<input message="bc:AddGroupMemberRequestMessage"/>
			<output message="bc:AddGroupMemberResultMessage"/>
		</operation>
		<operation name="DelGroupMember">
			<input message="bc:DelGroupMemberRequestMessage"/>
			<output message="bc:DelGroupMemberResultMessage"/>
		</operation>
		<operation name="BatchAddGroupMember">
			<input message="bc:BatchAddGroupMemberRequestMessage"/>
			<output message="bc:BatchAddGroupMemberResultMessage"/>
		</operation>
		<operation name="BatchDelGroupMember">
			<input message="bc:BatchDelGroupMemberRequestMessage"/>
			<output message="bc:BatchDelGroupMemberResultMessage"/>
		</operation>
		<operation name="ChangeGroupMemberOffering">
			<input message="bc:ChangeGroupMemberOfferingRequestMessage"/>
			<output message="bc:ChangeGroupMemberOfferingResultMessage"/>
		</operation>
		<operation name="FeeDeduction">
			<input message="bc:FeeDeductionRequestMessage"/>
			<output message="bc:FeeDeductionResultMessage"/>
		</operation>
		<operation name="FeeDeductionRollBack">
			<input message="bc:FeeDeductionRollBackRequestMessage"/>
			<output message="bc:FeeDeductionRollBackResultMessage"/>
		</operation>
		<operation name="ChangeFUPaymentLimitUsage">
			<input message="bc:ChangeFUPaymentLimitUsageRequestMessage"/>
			<output message="bc:ChangeFUPaymentLimitUsageResultMessage"/>
		</operation>
		<operation name="ManageAccountNotificationLevel">
			<input message="bc:ManageAccountNotificationLevelRequestMessage"/>
			<output message="bc:ManageAccountNotificationLevelResultMessage"/>
		</operation>
		<operation name="ChangeAcctInfo">
			<input message="bc:ChangeAcctInfoRequestMessage"/>
			<output message="bc:ChangeAcctInfoResultMessage"/>
		</operation>
		<operation name="BatchChangeRscRelation">
			<input message="bc:BatchChangeRscRelationRequestMessage"/>
			<output message="bc:BatchChangeRscRelationResultMessage"/>
		</operation>
		<operation name="BatchSubDeactivation">
			<input message="bc:BatchSubDeactivationRequestMessage"/>
			<output message="bc:BatchSubDeactivationResultMessage"/>
		</operation>
		<operation name="ChangeCustInfo">
			<input message="bc:ChangeCustInfoRequestMessage"/>
			<output message="bc:ChangeCustInfoResultMessage"/>
		</operation>
		<operation name="ChangeSubOwnership">
			<input message="bc:ChangeSubOwnershipRequestMessage"/>
			<output message="bc:ChangeSubOwnershipResultMessage"/>
		</operation>
	</portType>
	<binding name="BcServicsBinding" type="bc:BcServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateSubscriber">
			<soap:operation soapAction="CreateSubscriber" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateCustomer">
			<soap:operation soapAction="CreateCustomer" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateAccount">
			<soap:operation soapAction="CreateAccount" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchCreateSubscriber">
			<soap:operation soapAction="BatchCreateSubscriber" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSubInfo">
			<soap:operation soapAction="ChangeSubInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSubPaymentMode">
			<soap:operation soapAction="ChangeSubPaymentMode" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SubActivation">
			<soap:operation soapAction="SubActivation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSubStatus">
			<soap:operation soapAction="ChangeSubStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeRechageBlacklist">
			<soap:operation soapAction="ChangeRechageBlacklist" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeAcctCreditLimit">
			<soap:operation soapAction="ChangeAcctCreditLimit" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSubOffering">
			<soap:operation soapAction="ChangeSubOffering" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangePayRelation">
			<soap:operation soapAction="ChangePayRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeRscRelation">
			<soap:operation soapAction="ChangeRscRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchChangePayRelation">
			<soap:operation soapAction="BatchChangePayRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SubDeactivation">
			<soap:operation soapAction="SubDeactivation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QuerySubLifeCycle">
			<soap:operation soapAction="QuerySubLifeCycle" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryCustomerInfo">
			<soap:operation soapAction="QueryCustomerInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryGroupListBySubscriber">
			<soap:operation soapAction="QueryGroupListBySubscriber" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryGroupMemberList">
			<soap:operation soapAction="QueryGroupMemberList" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryGroupMemberBasicInfo">
			<soap:operation soapAction="QueryGroupMemberBasicInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryAccumulationUsage">
			<soap:operation soapAction="QueryAccumulationUsage" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QuerySubInfoExToCube">
			<soap:operation soapAction="QuerySubInfoExToCube" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryRscRelation">
			<soap:operation soapAction="QueryRscRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="QueryPaymentRelation">
			<soap:operation soapAction="QueryPaymentRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateGroup">
			<soap:operation soapAction="CreateGroup" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="GroupDeactivation">
			<soap:operation soapAction="GroupDeactivation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeGroupBasicInfo">
			<soap:operation soapAction="ChangeGroupBasicInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeGroupOffering">
			<soap:operation soapAction="ChangeGroupOffering" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeGroupStatus">
			<soap:operation soapAction="ChangeGroupStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="AddGroupMember">
			<soap:operation soapAction="AddGroupMember" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DelGroupMember">
			<soap:operation soapAction="DelGroupMember" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchAddGroupMember">
			<soap:operation soapAction="BatchAddGroupMember" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchDelGroupMember">
			<soap:operation soapAction="BatchDelGroupMember" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeGroupMemberOffering">
			<soap:operation soapAction="ChangeGroupMemberOffering" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="FeeDeduction">
			<soap:operation soapAction="FeeDeduction" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="FeeDeductionRollBack">
			<soap:operation soapAction="FeeDeductionRollBack" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeFUPaymentLimitUsage">
			<soap:operation soapAction="ChangeFUPaymentLimitUsage" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ManageAccountNotificationLevel">
			<soap:operation soapAction="ManageAccountNotificationLevel" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeAcctInfo">
			<soap:operation soapAction="ChangeAcctInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchChangeRscRelation">
			<soap:operation soapAction="BatchChangeRscRelation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="BatchSubDeactivation">
			<soap:operation soapAction="BatchSubDeactivation" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeCustInfo">
			<soap:operation soapAction="ChangeCustInfo" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ChangeSubOwnership">
			<soap:operation soapAction="ChangeSubOwnership" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BcServices">
		<port name="BcServicesPort" binding="bc:BcServicsBinding">
			<soap:address location="http://www.huawei.com/bme/cbsinterface/bcservices/wsdl/CBSInterface_BC_Services.wsdl"/>
		</port>
	</service>
</definitions>
