utils/WSDL/CBSInterface_BC_ChangeSubOffering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bccommon="http://www.huawei.com/bme/cbsinterface/bccommon" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.huawei.com/bme/cbsinterface/bccommon" schemaLocation="CBSInterface_BC_Common.xsd"/>
	<xs:complexType name="ChangeSubOfferingRequest">
		<xs:sequence>
			<xs:element name="SubAccessCode" type="bccommon:SubAccessCode"/>
			<xs:element name="PrimaryOffering" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OldPrimaryOffering" minOccurs="0">
							<xs:complexType>
							<xs:complexContent>
									<xs:extension base="bccommon:OfferingKey">
									<xs:sequence>
										<xs:element name="OInstProperty" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="bccommon:InstProperty"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									</xs:sequence>
									</xs:extension>
								</xs:complexContent>								
							</xs:complexType>
						</xs:element>
						<xs:element name="NewPrimaryOffering" type="bccommon:POfferingInst"/>
						<xs:element name="NewBrand" type="xs:string" minOccurs="0"/>
						<xs:element name="EffectiveTime" type="bccommon:EffectMode"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplementaryOffering" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddOffering" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="bccommon:OfferingInst">
										<xs:sequence>
											<xs:element name="EffectiveTime" type="bccommon:EffectMode"/>
											<xs:element name="ExpirationTime" type="bccommon:DateTime" minOccurs="0"/>
											<xs:element name="ActivationTime" type="bccommon:ActiveMode" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="DelOffering" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OfferingKey" type="bccommon:OfferingKey"/>
									<xs:element name="AdditionalProperty" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>2014.12.12 create this node, and add property C_DELOFFER_REMOVEROURCE, if value is 0.then not to delete free resource ; if value is 1, then to delete free resource; if there is no this property, then not to delete free resource.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="bccommon:SimpleProperty"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="OInstProperty" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="bccommon:InstProperty">
													<xs:sequence>
														<xs:element name="EffectiveTime" type="bccommon:DateTime" minOccurs="0"/>
														<xs:element name="ExpirationTime" type="bccommon:DateTime" minOccurs="0"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								        <xs:element name="ExpirationTime" type="bccommon:DateTime" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ModifyOffering" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OfferingKey" type="bccommon:OfferingKey"/>
									<xs:element name="NewEffectiveTime" type="bccommon:DateTime" minOccurs="0"/>
									<xs:element name="NewExpirationTime" type="bccommon:OfferingExpireMode" minOccurs="0"/>
									<xs:element name="ExtendOfferingHours" type="xs:integer" minOccurs="0"/>
									<xs:element name="NewPurchaseSeq" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HandlingChargeFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="ServiceTransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="OperationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AdditionalProperty" type="bccommon:SimpleProperty" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DeductInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChargeCode" type="xs:string" minOccurs="0"/>
						<xs:element name="SalesTime" type="xs:string" minOccurs="0"/>
						<xs:element name="InvoiceTime" type="xs:string" minOccurs="0"/>
						<xs:element name="ChargeAmt" type="xs:long"/>
						<xs:element name="DiscountAmt" type="xs:long" minOccurs="0"/>
						<xs:element name="WaiveAmt" type="xs:long" minOccurs="0"/>
						<xs:element name="CurrencyID" type="xs:integer" minOccurs="0"/>
						<xs:element name="Tax" type="bccommon:Tax" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AdditionalInfo" type="xs:string" minOccurs="0"/>
						<xs:element name="AdditionalProperty" type="bccommon:SimpleProperty" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Only Userd for BM to manager Data</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SalesInfo" type="bccommon:SalesInfo" minOccurs="0"/>
			<xs:element name="NewPOPurchaseSeq" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangeSubOfferingResult">
		<xs:sequence>
			<xs:element name="ModifyOffering" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OfferingKey" type="bccommon:OfferingKey"/>
						<xs:element name="NewEffectiveTime" type="bccommon:DateTime"/>
						<xs:element name="NewExpirationTime" type="bccommon:DateTime"/>
						<xs:element name="AcctBalanceChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AcctKey" type="xs:string"/>
									<xs:element name="BalanceChgInfo" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BalanceType" type="xs:string"/>
												<xs:element name="BalanceID" type="xs:long" minOccurs="0"/>
												<xs:element name="BalanceTypeName" type="xs:string" minOccurs="0"/>
												<xs:element name="OldBalanceAmt" type="xs:long"/>
												<xs:element name="NewBalanceAmt" type="xs:long"/>
												<xs:element name="CurrencyID" type="xs:integer"/>
												<xs:element name="EffectiveTime" type="bccommon:DateTime"/>
												<xs:element name="ExpireTime" type="bccommon:DateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FreeUnitChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OwnerType" type="xs:string"/>
									<xs:element name="OwnerKey" type="xs:string"/>
									<xs:element name="FreeUnitChgInfo" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FreeUnitInstanceID" type="xs:long" minOccurs="0"/>
												<xs:element name="FreeUnitType" type="xs:string"/>
												<xs:element name="FreeUnitTypeName" type="xs:string" minOccurs="0"/>
												<xs:element name="MeasureUnit" type="xs:integer"/>
												<xs:element name="MeasureUnitName" type="xs:string" minOccurs="0"/>
												<xs:element name="OldAmt" type="xs:long"/>
												<xs:element name="NewAmt" type="xs:long"/>
												<xs:element name="EffectiveTime" type="bccommon:DateTime"/>
												<xs:element name="ExpireTime" type="bccommon:DateTime"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddOffering" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OfferingKey" type="bccommon:OfferingKey"/>
						<xs:element name="EffectiveTime" type="bccommon:DateTime"/>
						<xs:element name="ExpirationTime" type="bccommon:DateTime"/>
						<xs:element name="RentDeductionStatus" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RentDeductionResult" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更offer涉及的租费扣费结果</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcctBalanceChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AcctKey" type="xs:string"/>
									<xs:element name="BalanceChgInfo" type="bccommon:BalanceChgInfo" nillable="true" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CreditLimitChangeList" type="bccommon:CreditLimitChgInfo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="FreeUnitChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OwnerType" type="xs:string"/>
									<xs:element name="OwnerKey" type="xs:string"/>
									<xs:element name="FreeUnitChgInfo" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FreeUnitInstanceID" type="xs:long" minOccurs="0"/>
												<xs:element name="FreeUnitType" type="xs:string"/>
												<xs:element name="FreeUnitTypeName" type="xs:string" minOccurs="0"/>
												<xs:element name="MeasureUnit" type="xs:integer"/>
												<xs:element name="MeasureUnitName" type="xs:string" minOccurs="0"/>
												<xs:element name="OldAmt" type="xs:long"/>
												<xs:element name="NewAmt" type="xs:long"/>
												<xs:element name="OfferingKey" type="bccommon:OfferingKey" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FeeDeductionResult" minOccurs="0">
				<xs:annotation>
					<xs:documentation>变更offer涉及的一次性扣费结果</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcctBalanceChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AcctKey" type="xs:string"/>
									<xs:element name="BalanceChgInfo" type="bccommon:BalanceChgInfo" nillable="true" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CreditLimitChangeList" type="bccommon:CreditLimitChgInfo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="FreeUnitChangeList" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OwnerType" type="xs:string"/>
									<xs:element name="OwnerKey" type="xs:string"/>
									<xs:element name="FreeUnitChgInfo" type="bccommon:FreeUnitChgInfo" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
