utils/WSDL/CBSInterface_BC_Blacklist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bccommon="http://www.huawei.com/bme/cbsinterface/bccommon" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.huawei.com/bme/cbsinterface/bccommon" schemaLocation="CBSInterface_BC_Common.xsd"/>
	<xs:complexType name="ChangeRechageBlacklistRequest">
		<xs:sequence>
			<xs:element name="OpType" type="xs:string"/>
			<xs:element name="SubIdentity" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
